.dropdown-item .list {
  font-size: 15px;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
  margin-left: 15px;
  font-family: "Epilogue", sans-serif;
}

.nav-item {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Epilogue", sans-serif;
}

.nav-item a:hover {
  color: hsl(0, 0%, 8%);
}

.dropdown-toggle {
  border: none;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Epilogue", sans-serif;
}

.account a {
  text-decoration: none;
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  color: hsl(0, 0%, 8%);
  padding: 10px;
}

.account .reg {
  padding: 10px 20px;
  border-radius: 15px;
  border: 2.5px solid transparent;
}

#regT{
    padding: 10px 20px;
  border-radius: 15px;
  border: 2.5px solid black;
}

.account .reg:hover {
  border: 2.5px solid black;
}

nav {
  background-color: white;
}

.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 8%;
  justify-content: center;
  align-items: center;
}

.desktop img{
    width: 28rem;
}

.container h1 {
  font-size: 7.5rem;
  line-height: 0.8;
  margin-top: 6rem;
}

.container p {
  font-size: 18px;
  padding: 3rem 0rem 2.5rem 0;
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  color: hsl(0, 0%, 41%);
}

.container button {
  border: none;
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
}

.container .companyLogo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 4.5rem;
}


@media (max-width: 991px) {
  .account a {
    display: none;
  }
}

@media (max-width: 1024px) {
    .container{
        flex-direction: column-reverse;
        gap: 30px;
    }
  }

  @media (max-width: 500px) {
    .container{
        justify-content: center;
        align-items: center;
    }
    .container h1{
        font-size: 2rem;
        margin-top: 2rem;
    }
    .desktop img{
        width: 18rem;
    }
    .container p {
        font-size: 0.7=5rem;
        padding: 1rem;
      }
      .container .companyLogo img{
        width: 4rem;
      }
      .container button {
        background-color: black;
        color: white;
        margin-left: 30%;
      }
    }
  
